# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
.eggs/
.cache/
.coverage
.pytest_cache/

# Virtual envs
.venv/
venv/
env/
.env

# Editors/IDE
.vscode/
.idea/

sample/